Django>=5.0,<6.0
django-htmx>=1.17
django-widget-tweaks>=1.5.0
gunicorn>=22.0
numpy>=1.26
pandas>=2.2
python-dateutil>=2.8
python-dotenv>=1.0
psycopg2-binary>=2.9
scipy>=1.11
statsmodels>=0.14
whitenoise>=6.5
yfinance>=0.2.40
